<h1>You fell in love with: <%= thingVar%> </h1>
<h1>You fell in love with: <% thingVar%> </h1>

<% if(thingVar.toLowerCase()==='harnish'){%>
<h2>Harnish Shah</h2>
<% } else {%>

<h2>Bad Choice</h2>
<% }%>